.myBtn {
    padding: 0 20px 0 20px;
    border-radius: 25px;
    border: none;
    position: relative;
    background: rgb(150, 0, 0);
    color: white;
    font-size: 15px;
    font-weight: 900;
    cursor: pointer;
    height: 50px;
    transition: 0.5s;
}

.myBtn:hover {
    background: rgb(240, 0, 0);
    color: black;
}