@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
html{
    margin: 0;
}

body{
    margin: 0;
    font-family: 'Rubik', sans-serif;
    background-color: ghostwhite;
    color: #2f2f2f;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.main{
    margin-top: 120px;
    min-height: 58vh;
}

.tech{
    font-size: 24px;
    font-weight: bold;
    margin: 5px 0;
}

.p_fio{
    font-size: 16px;
    margin: 5px 0 0 0;
}

.p_age{
    font-size: 16px;
    margin: 5px 0 15px 0;
}

.p_info{
    font-size: 14px;
}

.p_cert{
    font-size: 12px;
}

.skills{
    margin: 5px 0 !important;
}

.personal_info p{
    margin: 15px 0;
}

.personal_info p span{
    font-weight: 500;
}

.myHeader{
    background-color: #5A49F8;
    display: flex;
    flex-direction: row;
    padding: 5px 12.5%;
    justify-content: space-between;
    height: 90px;
    transition: 0.2s;
    box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    width: 75%;
    z-index: 100;
}

.sticky{
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.3);
}

.main-sticky{
    margin-top: 100px;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: 500;
}

.logo span{
    padding: 0 5px;
}

.menu{
    width: 50%;
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    align-items: center;
    justify-content: space-between;
}

.link{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    transition: 0.3s;
    border-bottom: transparent 1px solid;
}

.link:hover{
    transform: translate(0px, -1px);
    border-bottom: white 1px solid;
}

.main_blog{
    padding: 0 12.5%;
}

.title{
    font-weight: 300;
    margin-left: 50px;
}

.filter{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.filter span a{
    display: inline-block;
    text-decoration: none;
    color: #5A49F8;
    background-color: rgba(90, 73, 248, 0.2);
    padding: 5px 20px;
    margin: 5px 15px;
    transition: 0.3s;
    border-radius: 50px;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.filter span a:hover{

    transition: 0.3s;
    background-color: rgba(90, 73, 248, 0.3);
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0);
    transform: scale(1.1);
}

.card{
    background-color: white;
    box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px 0;
    justify-content: space-between;
}

.info_h{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info_h span{
    margin: 0 10px;
}

.info_h span a{
    margin: 0 5px;
    color: #5A49F8;
    font-weight: 500;
    text-decoration: none;
}

.avatar{
    padding: 20px 20px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar img{
    width: 100%;
}

.info{
    margin: 0 0 0 20px;
    width: calc(80% - 140px);
}

.conf-but{
    width: 18%;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.conf{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.conf_info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.more-but{
    width: 100%;
    padding: 10px 0;
    background: linear-gradient(#49A4F8, #5A49F8);
    color: white;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    border-radius: 20px 0 20px 0;
    transition: 0.3s;
}

.more-but:hover{
    filter: brightness(120%);
}

.contacts{
    font-size: 14px;
}

.footer{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    padding: 10px 12.5%;
    justify-content: space-between;
    align-items: center;
    background-color: #E3E6EC;
}

.socials

.social{
    display: block;
    width: 36px;
    height: 36px;
    text-decoration: none;
    color: white;
    background: linear-gradient(#49A4F8, #5A49F8);
    margin: 10px;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.1);
    transition: 0.2s;
    cursor: pointer;
}

.social:hover{
    filter: brightness(120%);
    transform: scale(1.1);
}

.social img{
    width: 50%;
}

.addPage{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center ;
}

.Log_cont{
    display:flex;
    justify-content: space-around;
    width: 500px;
    height: auto;
    align-items: center;
}
.row_t{
    display:flex;
    justify-content: space-around;
    width: 450px;
}
.tabsIt{
    font-size: 20px;
    height: 40px;
    margin: 20px 0;
    padding: 0;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #5A49F8;
}
.tabsIt a{
    border-radius: 5px;
    color: #5A49F8;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
}
.tabsIt a:active{
    color: white;
    background:#5A49F8;
}
.my-tabs{
    color: #5A49F8;
    background: white;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 15px;
}
.clicked{
    color: white!important;
    background:#5A49F8 !important;
}
.content{
    border: 1px solid #5A49F8;
    border-radius: 10px;
    background: rgba(135, 169, 255, 0.5);
    height: auto;
    width: 400px;
    margin-bottom: 50px;
    padding: 25px;
}
.text{
    font-size:20px;
}
.button{
    color: #5A49F8;
}
.back_img{
    border-radius: 50%;
    margin-left:21%;
    width:200px;
    filter: opacity(70%);
}

.title_head{
    display: flex;
    flex-direction: row;
}

.title_head p{
    margin: 0 10px;
    font-size: 30px;
    color: #2f2f2f;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title_head button{
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 50%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title_head button img{
    width: 40px;
    height: 40px;
}

.resume a{
    width: auto !important;
    padding: 0 10px;
    font-size: 14px;
}

.resume a img{
    width: 20px;
    height: 20px;
    margin: 0 0 0 5px;
}

.social_list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.social_list a{
    margin: 5px !important;
}

.photo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo img{
    width: 100%;
}
.profile{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.profile_info{
    width: 50%;
    padding: 20px 20px;
}

.profile_cert{
    width: 25%;
}

.detail_info{
    flex-direction: column !important;
    align-items: start !important;
}

.detail_info span , .detail_info span a{
    margin: 0 20px 0 0;
}
